/*
    colors we use
    #6b7f9b blu-ish
    #f2eeea dirtwhite
    #f2d3a4 orange-white
    #FFA500 orange
*/


body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2d3a4;
}

.containerMain {
    display: grid;
    grid-template-areas:
        "header header header"
        "allsearch allsearch allsearch"
        "navigationpages navigationpages navigationpages"
        "dailyBeer dailyBeer favorites";
    gap: 20px;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    background-image: url("../imagesBeerly/beerlylogo1002.png");
    background-position: left;
    background-repeat: no-repeat;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.WelcomeUserText {
    text-align: right;
}

.logo {
    margin: 0;
}

.AllSearch {
    grid-area: allsearch;
    display: grid;
    grid-template-areas: "selectionBeer selectionFood allSearchRight";
    gap: 10px;
    width: 100%;
    /*    height: 50px;
*/ justify-content: end;
    /*    align-content: center;
*/ align-items: end;
}

.AllSearchRight {
    grid-area: allSearchRight;
    display: grid;
    grid-template-areas: "searchInputBar mainSearchButton";
    align-items: end;
    width: 350px;
    gap: 10px;
}

.SelectionBeer,
.SelectionFood,
.MainSearchButton {
    height: 44px;
    width: 100px;
    align-self: center;
}

.SelectionBeer {
    display: grid;
    grid-area: selectionBeer;
    background-color: white;
    border: 1px solid #6b7f9b;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}

.SelectionFood {
    display: grid;
    grid-area: selectionFood;
    background-color: white;
    border: 1px solid #6b7f9b;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
}

.SearchInputBar {
    display: grid;
    grid-area: searchInputBar;
    font-size: 14px;
    border: 1px solid #6b7f9b;
    border-radius: 4px;
    height: 40px;
    align-self: center;
}

.MainSearchButton {
    display: grid;
    grid-area: mainSearchButton;
    background-color: orange;
    border: none;
    color: black;
    /*    padding: 10px 20px;
*/ text-align: center;
    text-decoration: none;
    /*    display: inline-block;
*/ font-size: 18px;
    /*    margin: 4px 2px;
*/ cursor: pointer;
    transition-duration: 0.4s;
}

    .MainSearchButton:hover {
        background-color: #cc7a00;
    }

.NavigationPages {
    grid-area: navigationpages;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 210px;
}

button,
#postButton {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
}

    button:hover,
    #postButton:hover {
        background-color: #cc7a00;
    }

.dailyBeer {
    grid-area: dailyBeer;
}

.favorites {
    grid-area: favorites;
}

#reviewGridCell {
    display: grid;
    padding: 3px;
    margin-left: 5px;
    gap: 2px;
}

#beerGrid {
    display: grid;
    width: 960px;
    justify-self: center;
    gap: 5px;
    grid-template:
        "beerGridCell beerGridCell beerReviewCell"
        "pizzaWithBeer pizzaWithBeer beerReviewCell"
        "pizzaWithBeer pizzaWithBeer beerReviewCell"
        "beerCRUDButtons beerAddReview beerReviewCell";
}

#beerGridCell {
    display: grid;
    grid-area: beerGridCell;
    grid-template-areas: "beerGridCellRow";
}

.beerReviewCell {
    display: grid;
    width: 300px;
    grid-area: beerReviewCell;
}

#beerGridCellRow {
    display: grid;

    grid-area: beerGridCellRow;
}

#pizzaWithBeer {
    display: grid;
    width: 600px;
    height: 600px;
    grid-area: pizzaWithBeer;
    grid-template:
        "pizzaBeerHead"
        "recommendation";
}

#pizzaBeerHead {
    display: grid;
    grid-area: pizzaBeerHead;

}

#recommendation {
    display: grid;
    grid-area: recommendation;
}

#beerAddReview {
    display: grid;
    grid-area: beerAddReview;
}

#beerCRUDButtons {
    align-content: end;
    display: grid;
    grid-area: beerCRUDButtons;
    grid-auto-columns: "a";
}

#accountBodyGrid {
    display: grid;
    align-content: start;
    padding: 10px;
    grid-template:
        "a b" /1fr;
    justify-self: center;
    width: 960px;
}

#accountleftGrid {
    display: grid;
    grid-area: a;
    height: fit-content;
}

#accountrightGrid {
    display: grid;
    grid-area: b;
    justify-self: end;
    justify-items: end;
    width: 200px;
}

#accountReviewGridBox {
    border: 1px;
    border-style: solid;
    border-color: orange;
    width: 100%;
}

.normalBody {
    display: grid;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.dailyImage {
    display: grid;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

main {
    display: grid;
    /*    background-color: #f2eeea;
*/
}

#beerIndex {
    display: grid;
    align-content: start;
/*    padding: 15px;
*/    justify-self: center;
    gap: 7px;
    width: 960px;
    grid-template:
        "beerHead beerHead beerCreate"
        "beerIndexCell beerIndexCell beerIndexCell";
}

#beerHead {
    grid-area: beerHead;
    width: 600px;
}

.beerIndexCell {
    background-color: #f4ddd1;
    display: grid;
    margin: 0px;
    padding: 5px;
    width: 300px;
    grid-template:
        "beerName beerName beerCountry"
        "beerBrewery beerBrewery beerPercentage"
        "beerImage beerImage beerType"
        "beerImage beerImage beerGoesWellWith"
        "beerRating beerRating beerDetailsButton"
        "beerRating beerRating beerFavoriteCell";
}

#beerName,
#beerCountry,
#beerBrewery,
#beerPercentage,
#beerType,
#beerGoesWellWith,
#beerRating,
beerDetailsButton {
    display: grid;
    margin: 0px;
}

#beerCountry,
#beerPercentage,
#beerType,
#beerGoesWellWith,
#beerDetailsButton {
    width: 100px;
}

#beerName,
#beerBrewery,
#beerImage,
#beerRating {
    width: 200px;
}

#beerName {
    grid-area: beerName;
    min-height: 2em;
}

#beerCountry {
    grid-area: beerCountry;
}
#beerBrewery {
    grid-area: beerBrewery;
}
#beerPercentage {
    grid-area: beerPercentage;
}
#beerType {
    grid-area: beerType;
}
#beerImage {
    grid-area: beerImage;
}

#smBeerImage {
    border-radius: 8px;
    border: 4px solid #FFA500;
}

#beerRating {
    grid-area: beerRating;
}

#beerDetailsButton {
    grid-area: beerDetailsButton;
    align-self: end;
    justify-self: end;
}

#beerGoesWellWith {
    align-content: end;
}

#beerFavoriteCell {
    justify-self: center;
}