@page
@model IndexModel
@inject Backend_Task03.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}


<h2>DailyBeer</h2>
@foreach (var url in Model.PhotoURLs)
{
    <img src="@url" style="width: 250px">
}

@if (Model.PhotoURLs.Count == 0)
{
    <p>You have not uploaded any photos yet.</p>
}